<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="row" id="mainview" style="height: inherit;"> <!-- mainview.row.start -->


    <div class="icon-bar"> <!-- icon.bar.start -->
        <a th:href="@{/ui/home}" id="home"><i class="fa fa-home"></i><span id="bar-item">Home</span></a>
        <a th:href="@{/ui/brand}" id="sale"><i class="fa fa-money"></i><span id="bar-item">Brand</span></a>
        <a th:href="@{/ui/product}" id="products"><i class="fa fa-tag"></i><span id="bar-item">Products</span></a>
        <a th:href="@{/ui/inventory}" id="products"><i class="fa fa-cart-plus"></i><span
                id="bar-item">Inventory</span></a>
        <a th:href="@{/ui/orders}" id="history"><i class="fa fa-file-text-o"></i><span
                id="bar-item">Order</span></a>
        <a class="dropdown-btn active"><i class="fa fa-bar-chart" style="color: #007bff;"></i><span id="bar-item">Reports</span></a>
        <div id="right-drop" class="dropdown-menu" x-placement="right-start">
            <a href="/pos/ui/dailyReport"><span id="bar-item">Daily Report</span></a>
            <a href="/pos/ui/salesReport"><span id="bar-item">Sales</span></a>
            <a href="/pos/ui/inventoryReport"><span id="bar-item">Inventory</span></a>
            <a href="/pos/ui/brandReport"><span id="bar-item">Brand</span></a>
        </div>
    </div> <!-- icon.bar.end -->


    <div class="col-11" style="background-color: #ededed;padding-left: 70px;">
        <div class="row" style="width: 100%;">
            <p style="font-size: 40px;font-weight: bold;width: 100%;padding: 10px;">Inventory Report</p>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row">

                    <!-- Table -->
                    <div class="col-12"
                         style="background-color: white;padding: 20px;display: table;border-radius: 20px;">
                        <table class="table table-striped table-sm" id="inventoryReport-table" style="padding: 10px;">
                            <thead style="background-color: lightslategray;">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Category</th>
                                <th scope="col">Quantity</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row" style="padding-left: 20px;">
                    <button type="button" class="btn btn-success" id="downloadInventoryPDF" style="margin-right: 15px;">
                        <i class="fa fa-download"></i> PDF
                    </button>
                    <button type="button" class="btn btn-success" id="downloadInventoryCSV">
                        <i class="fa fa-download" aria-hidden="true"></i> CSV
                    </button>
                </div>
                <div style="display: table;margin-top: 40px; margin-left: 10px; background-color: white; padding: 10px;
                        border-radius: 15px;">
                    <div style="text-align: center;" class="header">
                        <h5>Filter Items</h5>
                    </div>
                    <hr class="line">
                    <div class="modal-body" id="input-form">
                        <div class="row" style="display: block ruby;margin-bottom: 20px;">
                            <label name="inputBrand" style="margin-right: 46px;">Brand</label>
                            <select class="form-control" name="brand" id="inputBrand" style="width: 200px;"></select>
                        </div>
                        <div class="row" style="display: block ruby;">
                            <label name="inputCategory" style="margin-right: 23px;">Category</label>
                            <select class="form-control" name="category" id="inputCategory"
                                    style="width: 200px;"></select>
                        </div>
                    </div>

                    <hr class="line">
                    <div style="margin-top: 20px;text-align: end;">
                        <button type="button" class="btn btn-primary" id="generateInventoryReport">
                            Generate Report
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script th:src="@{/static/inventoryReport.js}"/>
</script>

</body>

</html>