html {
	position: relative;
	min-height: 100%;
	background-color: #ededed;
}

html, body {
  height: 100%;
}

#brandFileName,#productFileName,#inventoryFileName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

body{
    background-color: #ededed;
}

#mainview {
    margin-right: 0px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	text-align: center;
	background-color: #f5f5f5;
}


.fas{
    font-size: 4rem;
}


.icon-bar {
  width: 80px;
  text-align: center;
  background-color: white;
  margin-top: -4px;
  padding-left: 10px;
}

.icon-bar a {
  padding: 16px;
  display: block;
  transition: all 0.3s ease;
  font-size: 14px; /* font-size for the icons */
}

#bar-item {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #007bff;
}

.active {
  background-color: lightsteelblue;
}
.navbar{
    padding: 0px;
}

.modal-dialog {
  position: relative;
  width: 400px;
  pointer-events: none;
}

.dropdown-btn {
  text-decoration: none;
  color: #818181;
  cursor: pointer;
}

.activ{
    background-color: gainsboro;
}

#right-drop{
    min-width:5px;
    position: absolute;
    transform: translate3d(65px, 0px, 0px);
    top: 350px;
    will-change: transform;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.toast{
    font-size:20px;
}

body #toast-container > div {
  opacity: 0.9;
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div{
  width: 500px; /* width: 100% */
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

@media only screen and (max-width: 950px) {
  .icon-bar {
    display: flex;
    z-index: 1;
    background: inherit;
  }
  #right-drop{
      min-width: 5px;
      position: absolute;
      top: 0px;
      will-change: transform;
      left: 350px;
  }
}